<div class="col-md-8 col-md-offset-2" style="margin-top: 100px;">
  <h4>Hi,谢谢光顾品味伴客</h4>
  <br>
  <p>
    这个网站是由陈慧娟和刘慧玲一起合作的，希望您喜欢
  </p>
  <hr>
  <h4>通过以下方式可以找到我们哟~</h4>
  <p>
  陈慧娟<br>
  微信：megychen<br>
  <a href="http://megychen-blog.logdown.com/" target="_blank">Logdown</a>
  </p><br>
  <p>
  刘慧玲<br>
  微信：chamaine1203<br>
  <a href="http://chris1203-blog.logdown.com/" target="_blank">Logdown</a>
  </p><br>
  <%= link_to("返回首页", root_path) %>
</div>
