// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* favorite page  */

.fav-index {
  margin-bottom: 30px;

  h5 {
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.7);
  }
}
