// Place all the styles related to the landingpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lp-pom-image-11-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/c63b49b3-sano-logo_03h03c03h03c000000.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-20-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/fb5e3908-sano-image1.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-22-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/33a11373-sano-image2.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-24-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/929ffbb5-sano-image3.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-53-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/6f804f71-sano-profile1_023023023023000000.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-86-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/6f804f71-sano-profile1_023023023023000000.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-90-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/6f804f71-sano-profile1_023023023023000000.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-root {
  display:block;
  background:rgba(238,238,238,1);
  -pie-background:rgba(238,238,238,1);
  border-style:none;
  margin:auto;
  padding-top:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  min-width:944px;
  height:2154px;
}
#lp-pom-block-8 {
  display:block;
  background:rgba(52,49,58,1);
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/88905d65-sano-header-bgfull.png);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  -ms-behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
  behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  border-radius:0px;
  width:100%;
  height:647px;
  position:relative;
}
#lp-pom-text-9 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:170px;
  top:236px;
  z-index:4;
  width:325px;
  height:133px;
  position:absolute;
}
#lp-pom-image-11 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:407px;
  top:47px;
  z-index:5;
  position:absolute;
}
#lp-pom-box-13 {
  display:block;
  background:rgba(255,255,255,0.3);
  -pie-background:rgba(255,255,255,0.3);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:0px;
  top:548px;
  z-index:1;
  width:944px;
  height:99px;
  position:absolute;
}
#lp-pom-text-15 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:46px;
  top:38px;
  z-index:3;
  width:603px;
  height:24px;
  position:absolute;
}
#lp-pom-button-70 {
  display:block;
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:682px;
  top:29px;
  z-index:2;
  width:211px;
  height:42px;
  position:absolute;
  background-color:#f7941d;
  background:-webkit-linear-gradient(#d5ba71,#baa05a);
  background:-moz-linear-gradient(#d5ba71,#baa05a);
  background:-ms-linear-gradient(#d5ba71,#baa05a);
  background:-o-linear-gradient(#d5ba71,#baa05a);
  background:linear-gradient(#d5ba71,#baa05a);
  box-shadow:none;
  text-shadow:none;
  -pie-background:linear-gradient(#d5ba71,#baa05a);
  color:#fff;
  border-width:undefinedpx;
  border-color:#undefined;
  font-size:16px;
  line-height:19px;
  font-weight:normal;
  font-family:Raleway;
  text-align:center;
  background-repeat:no-repeat;
}
#lp-pom-block-18 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:475px;
  position:relative;
}
#lp-pom-text-19 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:326px;
  top:708px;
  z-index:12;
  width:291px;
  height:38px;
  position:absolute;
}
#lp-pom-image-20 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:68px;
  top:775px;
  z-index:11;
  position:absolute;
}
#lp-pom-text-21 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:40px;
  top:959px;
  z-index:10;
  width:216px;
  height:104px;
  position:absolute;
}
#lp-pom-image-22 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:390px;
  top:775px;
  z-index:9;
  position:absolute;
}
#lp-pom-text-23 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:339px;
  top:959px;
  z-index:8;
  width:261px;
  height:104px;
  position:absolute;
}
#lp-pom-image-24 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:712px;
  top:775px;
  z-index:7;
  position:absolute;
}
#lp-pom-text-25 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:675px;
  top:959px;
  z-index:6;
  width:233px;
  height:104px;
  position:absolute;
}
#lp-pom-block-30 {
  display:block;
  background:rgba(242,240,233,1);
  -pie-background:rgba(242,240,233,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:445px;
  position:relative;
}
// #lp-pom-text-31 {
//   // display:block;
//   background:rgba(255,255,255,0);
//   -pie-background:rgba(255,255,255,0);
//   border-style:none;
//   behavior:url(/PIE.htc);
//   border-radius:0px;
//   left:185px;
//   top:1183px;
//   z-index:19;
//   // width:573px;
//   // height:38px;
//   position:absolute;
// }
#lp-pom-block-48 {
  display:block;
  background:rgba(173,169,157,1);
  -pie-background:rgba(173,169,157,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:525px;
  position:relative;
}
#lp-pom-text-51 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:185px;
  top:1627px;
  z-index:17;
  width:573px;
  height:38px;
  position:absolute;
}
#lp-pom-box-52 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:solid;
  border-width:1px;
  border-color:#ffffff;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:30px;
  top:1747px;
  z-index:13;
  width:273px;
  height:223px;
  position:absolute;
}
#lp-pom-text-55 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:19px;
  top:42px;
  z-index:14;
  width:235px;
  height:156px;
  position:absolute;
}
#lp-pom-box-54 {
  display:block;
  background:rgba(173,169,157,1);
  -pie-background:rgba(173,169,157,1);
  border-style:solid;
  border-width:1px;
  border-color:#fff;
  behavior:url(/PIE.htc);
  border-radius:168px;
  left:125px;
  top:1692px;
  z-index:15;
  width:83px;
  height:83px;
  position:absolute;
}
#lp-pom-image-53 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:4px;
  top:4px;
  z-index:16;
  position:absolute;
}
#lp-pom-box-81 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:solid;
  border-width:1px;
  border-color:#ffffff;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:335px;
  top:1747px;
  z-index:21;
  width:273px;
  height:223px;
  position:absolute;
}
#lp-pom-text-83 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:19px;
  top:34px;
  z-index:22;
  width:235px;
  height:156px;
  position:absolute;
}
#lp-pom-box-85 {
  display:block;
  background:rgba(173,169,157,1);
  -pie-background:rgba(173,169,157,1);
  border-style:solid;
  border-width:1px;
  border-color:#fff;
  behavior:url(/PIE.htc);
  border-radius:168px;
  left:94px;
  top:-51px;
  z-index:23;
  width:83px;
  height:83px;
  position:absolute;
}
#lp-pom-image-86 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:4px;
  top:4px;
  z-index:24;
  position:absolute;
}
#lp-pom-box-87 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:solid;
  border-width:1px;
  border-color:#ffffff;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:640px;
  top:1747px;
  z-index:25;
  width:273px;
  height:223px;
  position:absolute;
}
#lp-pom-text-88 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:19px;
  top:34px;
  z-index:26;
  width:235px;
  height:156px;
  position:absolute;
}
#lp-pom-box-89 {
  display:block;
  background:rgba(173,169,157,1);
  -pie-background:rgba(173,169,157,1);
  border-style:solid;
  border-width:1px;
  border-color:#fff;
  behavior:url(/PIE.htc);
  border-radius:168px;
  left:94px;
  top:-51px;
  z-index:27;
  width:83px;
  height:83px;
  position:absolute;
}
#lp-pom-image-90 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:4px;
  top:4px;
  z-index:28;
  position:absolute;
}
#lp-pom-button-50 {
  display:block;
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:368px;
  top:2071px;
  z-index:20;
  width:218px;
  height:42px;
  position:absolute;
  background-color:#f7941d;
  background:-webkit-linear-gradient(#d5ba71,#baa05a);
  background:-moz-linear-gradient(#d5ba71,#baa05a);
  background:-ms-linear-gradient(#d5ba71,#baa05a);
  background:-o-linear-gradient(#d5ba71,#baa05a);
  background:linear-gradient(#d5ba71,#baa05a);
  box-shadow:none;
  text-shadow:none;
  -pie-background:linear-gradient(#d5ba71,#baa05a);
  color:#fff;
  border-width:undefinedpx;
  border-color:#undefined;
  font-size:16px;
  line-height:19px;
  font-weight:normal;
  font-family:Raleway;
  text-align:center;
  background-repeat:no-repeat;
}
#lp-pom-block-67 {
  display:block;
  background:rgba(242,240,233,1);
  -pie-background:rgba(242,240,233,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:62px;
  position:relative;
}
#lp-pom-text-68 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:281px;
  top:2113px;
  z-index:18;
  width:381px;
  height:27px;
  position:absolute;
}
#lp-pom-root .lp-positioned-content {
  top:0px;
  width:944px;
  margin-left:-472px;
}
#lp-pom-block-8 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:944px;
  height:647px;
}
#lp-pom-image-11 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:125px;
  height:120px;
}
#lp-pom-image-11 .lp-pom-image-container img {
  width:125px;
  height:120px;
}
#lp-pom-block-18 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:944px;
  height:475px;
}
#lp-pom-image-20 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:160px;
  height:160px;
}
#lp-pom-image-20 .lp-pom-image-container img {
  width:160px;
  height:160px;
}
#lp-pom-image-22 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:160px;
  height:160px;
}
#lp-pom-image-22 .lp-pom-image-container img {
  width:160px;
  height:160px;
}
#lp-pom-image-24 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:160px;
  height:160px;
}
#lp-pom-image-24 .lp-pom-image-container img {
  width:160px;
  height:160px;
}
#lp-pom-block-30 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:944px;
  height:445px;
}
#lp-pom-block-48 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:944px;
  height:525px;
}
#lp-pom-button-50:hover {
  background-color:#eb8016;
  background:-webkit-linear-gradient(#caa756,#b19044);
  background:-moz-linear-gradient(#caa756,#b19044);
  background:-ms-linear-gradient(#caa756,#b19044);
  background:-o-linear-gradient(#caa756,#b19044);
  background:linear-gradient(#caa756,#b19044);
  box-shadow:none;
  -pie-background:linear-gradient(#caa756,#b19044);
  color:#fff;
}
#lp-pom-button-50:active {
  background-color:#de7312;
  background:-webkit-linear-gradient(#baa05a,#baa05a);
  background:-moz-linear-gradient(#baa05a,#baa05a);
  background:-ms-linear-gradient(#baa05a,#baa05a);
  background:-o-linear-gradient(#baa05a,#baa05a);
  background:linear-gradient(#baa05a,#baa05a);
  box-shadow:none;
  -pie-background:linear-gradient(#baa05a,#baa05a);
  color:#fff;
}
#lp-pom-button-50 .label { margin-top:-10px; }
#lp-pom-image-53 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:75px;
  height:75px;
}
#lp-pom-image-53 .lp-pom-image-container img {
  width:75px;
  height:75px;
}
#lp-pom-block-67 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:944px;
  height:62px;
}
#lp-pom-button-70:hover {
  background-color:#eb8016;
  background:-webkit-linear-gradient(#caa756,#b19044);
  background:-moz-linear-gradient(#caa756,#b19044);
  background:-ms-linear-gradient(#caa756,#b19044);
  background:-o-linear-gradient(#caa756,#b19044);
  background:linear-gradient(#caa756,#b19044);
  box-shadow:none;
  -pie-background:linear-gradient(#caa756,#b19044);
  color:#fff;
}
#lp-pom-button-70:active {
  background-color:#de7312;
  background:-webkit-linear-gradient(#baa05a,#baa05a);
  background:-moz-linear-gradient(#baa05a,#baa05a);
  background:-ms-linear-gradient(#baa05a,#baa05a);
  background:-o-linear-gradient(#baa05a,#baa05a);
  background:linear-gradient(#baa05a,#baa05a);
  box-shadow:none;
  -pie-background:linear-gradient(#baa05a,#baa05a);
  color:#fff;
}
#lp-pom-button-70 .label { margin-top:-10px; }
#lp-pom-image-86 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:75px;
  height:75px;
}
#lp-pom-image-86 .lp-pom-image-container img {
  width:75px;
  height:75px;
}
#lp-pom-image-90 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:75px;
  height:75px;
}
#lp-pom-image-90 .lp-pom-image-container img {
  width:75px;
  height:75px;
}
#lp-pom-root-color-overlay {
  position:absolute;
  background:none;
  top:0;
  width:100%;
  height:2154px;
  min-height:100%;
}
#lp-pom-block-8-color-overlay {
  position:absolute;
  background:none;
  height:647px;
  width:100%;
}
#lp-pom-box-13-color-overlay {
  position:absolute;
  background:none;
  height:99px;
  width:944px;
}
#lp-pom-block-18-color-overlay {
  position:absolute;
  background:none;
  height:475px;
  width:100%;
}
#lp-pom-block-30-color-overlay {
  position:absolute;
  background:none;
  height:445px;
  width:100%;
}
#lp-pom-block-48-color-overlay {
  position:absolute;
  background:none;
  height:525px;
  width:100%;
}
#lp-pom-box-52-color-overlay {
  position:absolute;
  background:none;
  height:223px;
  width:273px;
}
#lp-pom-box-54-color-overlay {
  position:absolute;
  background:none;
  border-radius:167px;
  behavior:url(/PIE.htc);
  height:83px;
  width:83px;
}
#lp-pom-block-67-color-overlay {
  position:absolute;
  background:none;
  height:62px;
  width:100%;
}
#lp-pom-box-81-color-overlay {
  position:absolute;
  background:none;
  height:223px;
  width:273px;
}
#lp-pom-box-85-color-overlay {
  position:absolute;
  background:none;
  border-radius:167px;
  behavior:url(/PIE.htc);
  height:83px;
  width:83px;
}
#lp-pom-box-87-color-overlay {
  position:absolute;
  background:none;
  height:223px;
  width:273px;
}
#lp-pom-box-89-color-overlay {
  position:absolute;
  background:none;
  border-radius:167px;
  behavior:url(/PIE.htc);
  height:83px;
  width:83px;
}
// </style>
// <style title="page-styles" type="text/css" data-page-type="main_mobile">
@media only screen and (max-width:600px) {
  #lp-pom-image-11-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/c63b49b3-sano-logo_02w02s02w02s000000.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-20-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/fb5e3908-sano-image1.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-22-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/33a11373-sano-image2.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-24-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/929ffbb5-sano-image3.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-53-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/6f804f71-sano-profile1_023023023023000000.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-86-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/6f804f71-sano-profile1_023023023023000000.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-90-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/6f804f71-sano-profile1_023023023023000000.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-text-9 {
    left:15px;
    top:170px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:4;
    width:325px;
    height:133px;
    transform:scale(0.8);
    transform-origin:0 0;
    -webkit-transform:scale(0.8);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-image-11 {
    left:108px;
    top:35px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:5;
    position:absolute;
  }
  #lp-pom-box-13 {
    left:0px;
    top:427px;
    display:block;
    background:rgba(255,255,255,0.3);
    -pie-background:rgba(255,255,255,0.3);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:1;
    width:320px;
    height:150px;
    position:absolute;
  }
  #lp-pom-text-19 {
    left:20px;
    top:628px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:12;
    width:280px;
    height:38px;
    position:absolute;
  }
  #lp-pom-image-20 {
    left:80px;
    top:687px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:11;
    position:absolute;
  }
  #lp-pom-text-21 {
    left:28px;
    top:872px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:10;
    width:310px;
    height:78px;
    transform:scale(0.85);
    transform-origin:0 0;
    -webkit-transform:scale(0.85);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-image-22 {
    left:80px;
    top:976px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:9;
    position:absolute;
  }
  #lp-pom-text-23 {
    left:20px;
    top:1157px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:8;
    width:329px;
    height:104px;
    transform:scale(0.85);
    transform-origin:0 0;
    -webkit-transform:scale(0.85);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-image-24 {
    left:80px;
    top:1281px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:7;
    position:absolute;
  }
  #lp-pom-text-25 {
    left:28px;
    top:1466px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:6;
    width:310px;
    height:78px;
    transform:scale(0.85);
    transform-origin:0 0;
    -webkit-transform:scale(0.85);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  // #lp-pom-text-31 {
  //   left:20px;
  //   top:1636px;
  //   // display:block;
  //   background:rgba(255,255,255,0);
  //   -pie-background:rgba(255,255,255,0);
  //   border-style:none;
  //   behavior:url(/PIE.htc);
  //   border-radius:0px;
  //   z-index:19;
  //   // width:280px;
  //   // height:70px;
  //   position:absolute;
  // }
  #lp-pom-button-50 {
    left:0px;
    top:3321px;
    display:block;
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:20;
    width:279px;
    height:42px;
    position:absolute;
    background-color:#f7941d;
    background:-webkit-linear-gradient(#d5ba71,#baa05a);
    background:-moz-linear-gradient(#d5ba71,#baa05a);
    background:-ms-linear-gradient(#d5ba71,#baa05a);
    background:-o-linear-gradient(#d5ba71,#baa05a);
    background:linear-gradient(#d5ba71,#baa05a);
    box-shadow:none;
    text-shadow:none;
    -pie-background:linear-gradient(#d5ba71,#baa05a);
    color:#fff;
    border-width:undefinedpx;
    border-color:#undefined;
    font-size:16px;
    line-height:19px;
    font-weight:normal;
    font-family:Raleway;
    text-align:center;
    background-repeat:no-repeat;
  }
  #lp-pom-text-51 {
    left:20px;
    top:2215px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:17;
    width:280px;
    height:70px;
    position:absolute;
  }
  #lp-pom-box-52 {
    left:20px;
    top:2370px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:solid;
    border-width:1px;
    border-color:#ffffff;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:13;
    width:278px;
    height:303px;
    position:absolute;
  }
  #lp-pom-box-54 {
    left:103px;
    top:2311px;
    display:block;
    background:rgba(173,169,157,1);
    -pie-background:rgba(173,169,157,1);
    border-style:solid;
    border-width:1px;
    border-color:#fff;
    behavior:url(/PIE.htc);
    border-radius:168px;
    z-index:15;
    width:83px;
    height:83px;
    position:absolute;
  }
  #lp-pom-root {
    display:block;
    background:rgba(238,238,238,1);
    -pie-background:rgba(238,238,238,1);
    border-style:none;
    margin:auto;
    padding-top:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    min-width:320px;
    height:3179px;
  }
  #lp-pom-block-8 {
    display:block;
    background:rgba(52,49,58,1);
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/88905d65-sano-header-bgfull.png);
    background-repeat:repeat;
    background-position:left top;
    -pie-background:rgba(52,49,58,1) url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/banke-5/sano-header-bgfull.original.png) repeat left top;
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:320px;
    height:578px;
    position:relative;
  }
  #lp-pom-text-15 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:21px;
    top:27px;
    z-index:3;
    width:346px;
    height:48px;
    transform:scale(0.8);
    transform-origin:0 0;
    -webkit-transform:scale(0.8);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-button-70 {
    display:block;
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:21px;
    top:81px;
    z-index:2;
    width:280px;
    height:42px;
    position:absolute;
    background-color:#f7941d;
    background:-webkit-linear-gradient(#d5ba71,#baa05a);
    background:-moz-linear-gradient(#d5ba71,#baa05a);
    background:-ms-linear-gradient(#d5ba71,#baa05a);
    background:-o-linear-gradient(#d5ba71,#baa05a);
    background:linear-gradient(#d5ba71,#baa05a);
    box-shadow:none;
    text-shadow:none;
    -pie-background:linear-gradient(#d5ba71,#baa05a);
    color:#fff;
    border-width:undefinedpx;
    border-color:#undefined;
    font-size:16px;
    line-height:19px;
    font-weight:normal;
    font-family:Raleway;
    text-align:center;
    background-repeat:no-repeat;
  }
  #lp-pom-block-18 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:1007px;
    position:relative;
  }
  #lp-pom-block-30 {
    display:block;
    background:rgba(242,240,233,1);
    -pie-background:rgba(242,240,233,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:580px;
    position:relative;
  }
  #lp-pom-block-48 {
    display:block;
    background:rgba(173,169,157,1);
    -pie-background:rgba(173,169,157,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:944px;
    position:relative;
  }
  #lp-pom-text-55 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:22px;
    top:82px;
    z-index:14;
    width:260px;
    height:208px;
    transform:scale(0.9);
    transform-origin:0 0;
    -webkit-transform:scale(0.9);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-image-53 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:4px;
    top:4px;
    z-index:16;
    position:absolute;
  }
  #lp-pom-box-81 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:solid;
    border-width:1px;
    border-color:#ffffff;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:10px;
    top:2175px;
    z-index:21;
    width:278px;
    height:303px;
    position:absolute;
  }
  #lp-pom-text-83 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:9px;
    top:9px;
    z-index:22;
    width:260px;
    height:208px;
    transform:scale(0.9);
    transform-origin:0 0;
    -webkit-transform:scale(0.9);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-box-85 {
    display:block;
    background:rgba(173,169,157,1);
    -pie-background:rgba(173,169,157,1);
    border-style:solid;
    border-width:1px;
    border-color:#fff;
    behavior:url(/PIE.htc);
    border-radius:168px;
    left:9px;
    top:9px;
    z-index:23;
    width:83px;
    height:83px;
    position:absolute;
  }
  #lp-pom-image-86 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:4px;
    top:4px;
    z-index:24;
    position:absolute;
  }
  #lp-pom-box-87 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:solid;
    border-width:1px;
    border-color:#ffffff;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:10px;
    top:2175px;
    z-index:25;
    width:278px;
    height:303px;
    position:absolute;
  }
  #lp-pom-text-88 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:9px;
    top:9px;
    z-index:26;
    width:260px;
    height:208px;
    transform:scale(0.9);
    transform-origin:0 0;
    -webkit-transform:scale(0.9);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-box-89 {
    display:block;
    background:rgba(173,169,157,1);
    -pie-background:rgba(173,169,157,1);
    border-style:solid;
    border-width:1px;
    border-color:#fff;
    behavior:url(/PIE.htc);
    border-radius:168px;
    left:9px;
    top:9px;
    z-index:27;
    width:83px;
    height:83px;
    position:absolute;
  }
  #lp-pom-image-90 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:4px;
    top:4px;
    z-index:28;
    position:absolute;
  }
  #lp-pom-block-67 {
    display:block;
    background:rgba(242,240,233,1);
    -pie-background:rgba(242,240,233,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:70px;
    position:relative;
  }
  #lp-pom-text-68 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:62px;
    top:3120px;
    z-index:18;
    width:195px;
    height:52px;
    position:absolute;
  }
  body { color:#000; }
  a {
    color:#0000ff;
    text-decoration:none;
  }
  #lp-pom-root .lp-positioned-content {
    top:0px;
    width:320px;
    margin-left:-160px;
  }
  #lp-pom-block-8 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:578px;
  }
  #lp-pom-image-11 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:104px;
    height:100px;
  }
  #lp-pom-image-11 .lp-pom-image-container img {
    width:104px;
    height:100px;
  }
  #lp-pom-block-18 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:1007px;
  }
  #lp-pom-image-20 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:160px;
    height:160px;
  }
  #lp-pom-image-20 .lp-pom-image-container img {
    width:160px;
    height:160px;
  }
  #lp-pom-image-22 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:160px;
    height:160px;
  }
  #lp-pom-image-22 .lp-pom-image-container img {
    width:160px;
    height:160px;
  }
  #lp-pom-image-24 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:160px;
    height:160px;
  }
  #lp-pom-image-24 .lp-pom-image-container img {
    width:160px;
    height:160px;
  }
  #lp-pom-block-30 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:580px;
  }
  #lp-pom-block-48 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:944px;
  }
  #lp-pom-button-50:hover {
    background-color:#eb8016;
    background:-webkit-linear-gradient(#caa756,#b19044);
    background:-moz-linear-gradient(#caa756,#b19044);
    background:-ms-linear-gradient(#caa756,#b19044);
    background:-o-linear-gradient(#caa756,#b19044);
    background:linear-gradient(#caa756,#b19044);
    box-shadow:none;
    -pie-background:linear-gradient(#caa756,#b19044);
    color:#fff;
  }
  #lp-pom-button-50:active {
    background-color:#de7312;
    background:-webkit-linear-gradient(#baa05a,#baa05a);
    background:-moz-linear-gradient(#baa05a,#baa05a);
    background:-ms-linear-gradient(#baa05a,#baa05a);
    background:-o-linear-gradient(#baa05a,#baa05a);
    background:linear-gradient(#baa05a,#baa05a);
    box-shadow:none;
    -pie-background:linear-gradient(#baa05a,#baa05a);
    color:#fff;
  }
  #lp-pom-button-50 .label { margin-top:-10px; }
  #lp-pom-image-53 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:75px;
    height:75px;
  }
  #lp-pom-image-53 .lp-pom-image-container img {
    width:75px;
    height:75px;
  }
  #lp-pom-block-67 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:70px;
  }
  #lp-pom-button-70:hover {
    background-color:#eb8016;
    background:-webkit-linear-gradient(#caa756,#b19044);
    background:-moz-linear-gradient(#caa756,#b19044);
    background:-ms-linear-gradient(#caa756,#b19044);
    background:-o-linear-gradient(#caa756,#b19044);
    background:linear-gradient(#caa756,#b19044);
    box-shadow:none;
    -pie-background:linear-gradient(#caa756,#b19044);
    color:#fff;
  }
  #lp-pom-button-70:active {
    background-color:#de7312;
    background:-webkit-linear-gradient(#baa05a,#baa05a);
    background:-moz-linear-gradient(#baa05a,#baa05a);
    background:-ms-linear-gradient(#baa05a,#baa05a);
    background:-o-linear-gradient(#baa05a,#baa05a);
    background:linear-gradient(#baa05a,#baa05a);
    box-shadow:none;
    -pie-background:linear-gradient(#baa05a,#baa05a);
    color:#fff;
  }
  #lp-pom-button-70 .label { margin-top:-10px; }
  #lp-pom-image-86 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:75px;
    height:75px;
  }
  #lp-pom-image-86 .lp-pom-image-container img {
    width:75px;
    height:75px;
  }
  #lp-pom-image-90 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:75px;
    height:75px;
  }
  #lp-pom-image-90 .lp-pom-image-container img {
    width:75px;
    height:75px;
  }
  #lp-pom-root-color-overlay {
    position:absolute;
    background:none;
    top:0;
    width:100%;
    height:3179px;
    min-height:100%;
  }
  #lp-pom-block-8-color-overlay {
    position:absolute;
    background:none;
    height:578px;
    width:320px;
  }
  #lp-pom-box-13-color-overlay {
    position:absolute;
    background:none;
    height:150px;
    width:320px;
  }
  #lp-pom-block-18-color-overlay {
    position:absolute;
    background:none;
    height:1007px;
    width:100%;
  }
  #lp-pom-block-30-color-overlay {
    position:absolute;
    background:none;
    height:580px;
    width:100%;
  }
  #lp-pom-block-48-color-overlay {
    position:absolute;
    background:none;
    height:944px;
    width:100%;
  }
  #lp-pom-box-52-color-overlay {
    position:absolute;
    background:none;
    height:303px;
    width:278px;
  }
  #lp-pom-box-54-color-overlay {
    position:absolute;
    background:none;
    border-radius:167px;
    behavior:url(/PIE.htc);
    height:83px;
    width:83px;
  }
  #lp-pom-block-67-color-overlay {
    position:absolute;
    background:none;
    height:70px;
    width:100%;
  }
  #lp-pom-box-81-color-overlay {
    position:absolute;
    background:none;
    height:303px;
    width:278px;
  }
  #lp-pom-box-85-color-overlay {
    position:absolute;
    background:none;
    border-radius:167px;
    behavior:url(/PIE.htc);
    height:83px;
    width:83px;
  }
  #lp-pom-box-87-color-overlay {
    position:absolute;
    background:none;
    height:303px;
    width:278px;
  }
  #lp-pom-box-89-color-overlay {
    position:absolute;
    background:none;
    border-radius:167px;
    behavior:url(/PIE.htc);
    height:83px;
    width:83px;
  }
}
