// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* align service section */







/* Header Section  */

.main-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    min-width: inherit;
    -webkit-transform: translateZ(0);
}

.header-inner {
  position: relative;
  height: 60px;
  text-align: center;
  background: rgb(88,75,79);
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
  z-index: 1000;
}

.form-search {
  margin: 0;
  position: relative;
}

.form-search .search-input {
  padding: 3px 22px 3px 2px;
  width: 350px;
  height: 30px;
  background: #faf6ec;
  color: #808080;
  outline: 0;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 15px;
  padding-left: 15px;
}

.form-search .search-icon {
  position: absolute;
  float: right;
  width: 75px;
  height: 75px;
  top: -25px;
  right: -25px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.form-search .search-icon:focus, .form-search .search-icon:active, {
  outline: 0;
}

.form-search .search-icon .fa-search {
  color: #808080;
  opacity: 0.6;
  transition: 1s;
}

.form-search .search-icon:hover .fa-search {
  opacity: 0.4;
}

.header-inner .header-center {
  a {
    color: rgb(239,234,225);
    font-size: 24px;
  }
  display: inline-block;
  margin-left: -155px;
}

.header-inner .header-center a:hover {
  text-decoration: none;
}

.header-inner a.header-user-item {
  min-width: 100px;
  background: #fff;
  border: 1px solid rgb(102,89,92);
  margin-top: 10px;
  margin-right: 10px;
  transition: 1s;
}

.header-inner .header-right a.btn {
  height: 30px;
  margin-top: 13px;
}


.header-inner .header-user-item:hover {
  border: 1px solid #fff;
  background: rgb(102,89,92);
  color: #fff;
}

.header-inner .header-right {
  margin-top: -13px;

  a {
    color: rgb(239,234,225);
    margin-top: 1px;
  }
  a:hover {
    background-color: rgb(88,75,79);
  }
  a.btn {
    color: rgb(88,75,79);
  }
  a.btn:hover {
    color: rgb(239,234,225);
  }
}


.header-inner .header-right ul.dropdown-menu li a {
  color: rgba(0, 0, 0, 0.7);
}

.header-inner .header-right ul.dropdown-menu li a:hover {
  background-color: #efeae1 !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #99838a !important;
}

.subheader {
  width: 100%;
  height: 45px;
  background: rgb(239,234,225);
  letter-spacing: 1.5px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-font-smoothing: antialiased;
  background-clip: padding-box;
}

.subheader .animated {
  transform: translateY(0%);
  transition: all .3s ease-in-out 0s;
  position: absolute;
}

.subheader ul {
  margin-top: 0;
  padding-top: 12px;
  margin-bottom: 10px;
  display: block;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

ul.subheader-content {
  padding-left: 0;
  margin: 0;
}

.subheader ul li {
  display: inline-block;
  text-align: -webkit-match-parent;
  a {
    color: rgb(89,75,79);
    transition: all .2s ease-out 0s;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 18px;
    padding-bottom: 9px;
  }

  a:hover  {
    text-decoration: none;
    border-bottom: 2px solid rgb(89,75,79);
    color: rgb(89,75,79);
  }
}

.subheader ul li.active a {
  border-bottom: 2px solid rgb(89,75,79);
  color: rgb(89,75,79);
}

@media screen and (max-width: 786px) {
  .header-inner .header-center {
    margin-left: -70px;
  }
}


/* media query */

@media screen and (max-width: 1400px) {
  #banner .col-md-10 {
    padding-right: 0px;
  }
}


/* Carousel  */

#banner {
  margin-top: 106px;
}

section.awSlider .carousel .carousel-inner > .item > img {
  display: block;
  max-width: 100%;
  width:100%;
  height:300px;
  line-height: 1;
}

section.awSlider .carousel .carousel-inner{
  height:300px;
}

section.awSlider .carousel .carousel-inner > .item >.carousel-caption {
  height: 300px;
  width: 300px;
  background-color: #fff;
  opacity:0.8;
  position: absolute;
  left: 60%;
  right: 15%;
  bottom: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000;
  text-align: center;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  h3{
    margin-top:30px;
  }
  h1{
    color:rgb(211,122,130);margin-top:30px;
  }
  .btn{
    background-color:rgb(211,122,130);
    margin-top:15px;
    border-color:rgb(211,122,130);
    color:#fff;
  }

}

section.awSlider .carousel .carousel-inner > #item2.item >.carousel-caption{
  left:15%;
  right:0;
  h1{
    color:rgb(250,190,100);
    margin-top:30px;
  }
  .btn{
    background-color:rgb(250,190,100);
    margin-top:0;
    border-color:rgb(250,190,100);
    color:#fff;
  }
}

section.awSlider .carousel .carousel-control .glyphicon-chevron-left,
section.awSlider .carousel .carousel-control .glyphicon-chevron-right {
  width: 45px;
  height: 45px;
  font-size: 30px;
  background-color: rgb(250,246,236);
  border-radius: 50%;
   padding-top: 6px;
}

section.awSlider .carousel .carousel-indicators{
  display: none;
}

/*  End of Carousel */


#hot-products{
  margin: 0 auto;
  margin-bottom: 30px;
}

.module-name {
    margin-top: 45px;
    margin-bottom: 45px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 0;
}

.module-name.decorative i {
    display: inline-block;
    vertical-align: middle;
    width: 95px;
    height: 2px;
    background: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.module-name.decorative span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.module-name.decorative span+i {
    margin-right: 0;
    margin-left: 18px;
}


/* our service */

#service {
  background: #fff;
  .service-slogan {
    margin-top: 70px;
    font-weight: 200;

  }
  .service-img {
    //margin: 20px;
  }
  .col-md-6 {
    margin-bottom: 20px;
  }
}

#service .service-img img {
  width: 95%;
  opacity: 0.9;
  height: 280px;
}

#service, #customer-feedback {
  padding-bottom: 50px;
  background-color:#fff;
  padding-top: 20px;
  .col-md-4 {
    padding: 15px 10px;
    .quote-box-1 {
      padding: 30px 30px;
      background-color: #FFF;
      //color: #aaa;
      font-weight: 200;
      border:4px solid  #faf6ec;
      margin-top:-41px;
      position: relative;
      z-index:1;
      .fa{
        color:#faf6ec;
      }
    }
  }
}
.fd-avatar-box{
    border:4px solid  #faf6ec;
    border-radius: 168px;
    width: 83px;
    height: 83px;
    background-color: #fff;
    position: relative;

    z-index: 14;
    margin:0 auto;
    .fd-avatar-box-color-overlay{
      position: absolute;
      background-color: none;
      border-radius: 167px;
      height: 83px;
      width: 83px;

    }
    img { width: 100%;
      margin:1px auto;
      z-index: 15;}


    .round-image-74 {
      background-color: white;
      border: 1px solid  #faf6ec;
      border-radius: 37px;
      -moz-border-radius: 37px;
      -webkit-border-radius: 37px;
      height: 74px;
      width: 74px;
      overflow: hidden;
      text-align: center;
    }


}


/* pins */

#pins {
   margin: 0 auto;
   width: 100%;
   .box {
 	  margin: 10px;
 	  width: 225px;
 	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
 	  text-align: center;
    padding: 0px;
    transition: 0.35s;
 	  img {
 	  	max-width: 100%;
 	  	height: auto;
 	  }
    &:hover{
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.22);
    }
 	}
 }

 .box{
   overflow: hidden;
 }

 .fig{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   height:40px;
   cursor: pointer;
   text-align: center;
   font-size: 1.2em;
   transition: all 0.2s ease-out;
   display: none
 }

 .box:hover .fig{
 	top: 0;
 	left: 0;
 	transition: all 0.2s ease-out;
  display: block;
 }
  .box:hover {
    border:1px solid  rgb(245,190,126);
  }

 .fig> p.actions {
   text-align: right !important;
   a.add-to-cart{
    color:rgb(245,190,126);
    padding-right:10px;
    font-size: 28px;
   }
}

.panel-body{
  padding: 5px;
  font-size: 12px;
  a:hover{
    text-decoration: none;
  }
  span.price{
    color: rgb(245,190,126);
  }
  span{
    a.like{
      color:#eee;
    }
    a.unlike{
      color: rgb(245,190,126);
    }
  }
}
/* End of pins */



/* customer-feedback */

#service {
  .feedback-1 img, .feedback-2 img, .feedback-3 img {
    width: 100%;
    height: auto;
  }
  .col-md-6 {
    height: 328px;
    margin-bottom: 20px;
    h4.feedback-info {
      margin-top: 50px;
      font-weight: 200;
      //color: #aaa;
    }
  }
}

/* call-to-action */

#call-to-action {
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 45px;
  .btn-default {
    background-color: rgb(211,122,130);
    color: #fff;
    border-color: #fff;
    padding-top: 8px;
    width: 150px;
  }
}



/* question */

#question {
  background-color: #faf6ec;
  margin-bottom: 45px;
  color: #aaa;
  font-family: 200;
  .col-md-3 {
    padding: 20px;
    border-right: 1px solid #aaa;
    height: 175px;
  }
  .col-md-3:last-child {
    border: none;
  }
  .sub-question {
    margin-bottom: 15px;
    //color: rgba(0, 0, 0, 0.4);
  }
  .answer {
    //color: rgba(0, 0, 0, 0.4);
  }
}

/*  Welcome page Footer  */

.footer {
  background-color: rgb(239,234,225);
  color: #959595;
  margin-top: 20px;
  height: 100px;
  width: 100%;
  border-top:1px solid #e6e6e6;
  .copyright {
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgb(239,234,225);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    .design {
      margin-left: 20px;
      span {
        margin-right: 30px;
        margin-bottom: 20px;
        font-size: 14px;
        a {
          text-decoration: none;
          color: rgba(0, 0, 0, 0.5);
          margin-bottom: 20px;
          transition: 0.35s;
        }
        a:hover {
          color: #333333;
        }
      }
      p {
        font-size: 14px;
        margin-top: 5px;
        color: #959595;
        span {
          color: rgba(0, 0, 0, 0.7);
          margin-right: 0;
        }
      }
    }
  }
}
