<!DOCTYPE html>
<html>
  <head>
    <title>品味伴客</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://ww4.sinaimg.cn/large/006tNc79ly1fdcy9li35hg302s02sa9u.gif"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row welcome-page">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
